<div class="container">
  <div class="card-columns" style="margin-top: 5rem;">
    <% BookCard.most_hit .each do |book_card| %>
    <%user=User.find_by(id: book_card.user_id) %>
    <%book=Book.find_by(id: book_card.book_id)%>

      <p>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=" <%= book_card.book_picture %> " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=book.title%></h5>
          <h5 class="card-title"><%=user.email %></h5>
          <p class="card-text"><%= book_card.to_sell %></p>
          <p class="card-text"><%= book_card.book_condition %></p>
          <p class="card-text"><%= book_card.review %></p>
          <h6 class="card-subtitle mb-2 text-muted"><%= book_card.price %></h6>
          <%= button_to "product", book_card_path(book_card.id), method: :get , class: "btn btn-info" %>
          
        </div>
      </div>
      </p>
    <% end %>
  </div>
</div>