<!-- Boucle pour presenter tous les Items -->
<div class="container col-12 mx-auto">
    <div class="row justify-content-center mx-auto">
        <% @book_cards.each do |book_card| %>
            <% user = User.find_by(id: book_card.user_id) %>
            <% book = Book.find_by(id: book_card.book_id) %>

            <div class="card dark col-4 views">

                <% if !book_card.book_picture_seed.nil? %>
                    <img class="card-img-top img-views mx-auto" src=" <%= book_card.book_picture_seed %> " alt="Card image cap"/>
                <% end %>
                <% if book_card.book_picture_seed.nil? %>
                    <img
                    class="card-img-top img-views mx-auto" src="<%= url_for(book_card.book_picture.variant(resize: "300x300")) %>" alt=" Card image cap"/>
                <!--style="height: auto; width:100;margin-top:1rem; padding-bottom:33rem"-->
                <% end %>
                <div class="card-body body-views pb-5">
                    <p class="card-title mx-auto text-center"><%=book.title%></p>
                    <% if book_card.price? %>
                        <p class="card-subtitle mb-2 py-5 "><%= book_card.price %>€</p>
                    <% end %>
                </div>

                <% if book_card.to_sell=="vente" %>
                    <%sell="EN VENTE"%>
                <% end %>
                <% if book_card.to_sell=="achat" %>
                    <%sell="ANNONCE DE RECHERCHE"%>
                <% end %>
                <% if book_card.to_sell=="critique" %>
                    <%sell="CRITIQUE DE BD"%>
                <% end %>
                <div class="d-flex justify-content-sm-center">
                    <div class="card-body views_to_sell pt-auto">
                        <ul class="list-group list-group-flush">
                            <p class="text-sm-left list-group-item bg-secondary text-white-75"><%=sell%></p>
                        </ul>
                    </div>

                    <div class="row to_sell">
                        <div class="card-body body-views">
                            <p class="card-text text-center pd-auto"></p>
                        </div>
                    </div>


                    <div class="row viewsbutton mx-auto">
                        <div class="col">
                            <%= button_to "Consulter", book_card_path(book_card.id), method: :get , class: "btn btn-info align-self-center mx-auto" %>
                        </div>

                        <% if !current_user.nil? %>
                            <% @user=User.find_by_id(book_card.user_id) %>
                            <% if book_card.user_id == current_user.id %>
                                <div class="col">
                                    <%= button_to "Effacer", book_card_path(id: book_card.id), method: :delete , class: "btn btn-danger align-self-center mx-auto"%>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
