<%= form_with(model: @book_card, local: true) do |form| %>
    <% if @book_card.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade show" id="alert_message" role="alert">
            <h2><%= pluralize(@book_card.errors.count, "error") %>
                a empeché cette fiche d'être sauvegardé:</h2>

            <ul>
                <% @book_card.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    <% end %>

    <div class="flex-container">
        <div class="field form-group col-4">
            <%= form.label :price %>
            <%= form.text_field :price, class: 'form-control' %>
        </div>

        <div class="field form-group col-4">
            <%= form.label :to_sell %>
            <%= form.text_field :to_sell, class: 'form-control' %>
        </div>


        <div class="field form-group col-4">
            <%= form.label :book_condition %>
            <%= form.text_field :book_condition, class: 'form-control' %>
        </div>


        <div class="field form-group col-4">
            <%= form.label :book_picture %>
            <%= form.text_field :book_picture, class: 'form-control' %>
        </div>


        <div class="field form-group col-4">
            <%= form.label :review %>
            <%= form.text_field :review, class: 'form-control' %>
        </div>


        <div class="actions col-4">
            <%= form.submit class:"btn btn-primary" %>
        </div>
    </div>

<% end %>
