<%= form_with(model: @book_card, local: true) do |form| %>
  <% if @book_card.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h2><%= pluralize(@book_card.errors.count, "error") %> prohibited this book_card from being saved:</h2>

      <% @book_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  <% end %>

    <div class="field form-group-sm col-4">
      <%= form.label :Isbn %>
      <%= form.text_field :book_id, class: 'form-control' %>
    </div>


    <div class="field form-group-sm col-4">
      <%= form.label :Prix %>
      <%= form.text_field :price, class: 'form-control' %>
    </div>
  <p> Vente , Achat, Critique, </p>
  <div class="field form-group-sm col-4">
  <%= form.select :to_sell, ['Vente', 'Achat', 'Critique']%>
  </div>
    <div class="field form-group-sm col-4">
      <%= form.label :Etat %>
      <%= form.text_field :book_condition, class: 'form-control' %>
    </div>


    <div class="field form-group-sm col-4">
      <%= form.label :Image %>
      <%= form.text_field :book_picture, class: 'form-control' %>
    </div>


    <div class="field form-group-sm col-4">
      <%= form.label :Critique %>
      <%= form.text_field :review, class: 'form-control' %>
    </div>


  <div class="field form-group-sm col-4">
    <%= form.submit class:"btn-sm btn-info" %>
  </div>
<% end %>



