<%= form_with(model: @book_card, local: true) do |form| %>
    <% if @book_card.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h2><%= pluralize(@book_card.errors.count, "erreur") %>
                a empeché cette fiche d'être sauvegardé:</h2>

            <% @book_card.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    <% end %>


    <div class="field form-group-sm col-4">
        <%= form.label :Isbn %>
        <%= form.text_field :book_id, class: 'form-control' %>
    </div>
    <div class="field form-group-sm col-4">
        <% options = "",options_from_collection_for_select(@books.order('isbn'), 'isbn', 'isbn') %>
        <%= form.select :book_id,  options %>
    </div>

    <% if @type=="vente" %>
        <div class="field form-group-sm col-4">
            <%= form.label :Prix %>
            <%= form.text_field :price, class: 'form-control' %>
        </div>


        <div class="field form-group-sm col-4">
            <%= form.label :Etat %>
            <%= form.text_field :book_condition, class: 'form-control' %>
        </div>
    <% end %>

    <div class="field form-group-sm col-4">
        <%= form.label :Image %>
        <%= form.file_field :book_picture %>
    </div>

    <% if @type=="critique" %>
        <div class="field form-group-sm col-4">
            <%= form.label :Critique %>
            <%= form.text_field :review, class: 'form-control' %>
        </div>
    <% else %>
        <div class="field form-group-sm col-4">
            <%= form.label :Déscription %>
            <%= form.text_field :review, class: 'form-control' %>
        </div>
    <% end %>


    <div class="field form-group-sm col-4">
        <%= form.label :Tag %>
        <%= form.select :tag, ["", "BD d'exception", "BD dédicacée", "Tirage original"]%>
    </div>

    <div class="field form-group-sm col-4">
        <%= form.submit 'Valider',  class:"btn-sm btn-info" %>
    </div>
<% end %>
