<div class="container-fluid; mt-5">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="container text-center p-5">
                    <%if @book_card.to_sell=="critique"%>
                        <h2>Critique de lecteur</h2>
                    <% end %>
                    <%if @book_card.to_sell=="vente"%>
                        <h2>Annonce de vente</h2>
                    <% end %>
                    <%if @book_card.to_sell=="achat"%>
                        <h2>Annonce de recherche</h2>
                    <% end %>
                </div>
                <div class="col-md-12">
                    <div class="product col-md-4">
                        <% if !@book_card.book_picture_seed.nil? && !@book_card.book_picture.attached? %>
                            <img class="card-img-top md-4" src="<%= @book_card.book_picture_seed[0...-1]+"0" %>" alt="Card image cap"/>
                        <% end %>
                        <% if @book_card.book_picture.attached? %>
                            <img class="card-img-top md-4" src="<%= url_for(@book_card.book_picture.variant(resize: "600x600")) %>" alt=" Card image cap"/>
                        <% end %>

                        <% if !current_user.nil? && @book_card.user_id == current_user.id %>
                            <%= form_tag book_card_book_pictures_path(@book_card), multipart: true do %>
                                <%= file_field_tag :book_picture %>
                                <%= submit_tag "mettre à jour" %>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="col-md-7">
                        <div class="product-title">
                            <h1><%= @book.title %><h1></div>
                                <div class="product-rating">
                                    <i class="fa fa-star gold"></i>
                                    <i class="fa fa-star gold"></i>
                                    <i class="fa fa-star gold"></i>
                                    <i class="fa fa-star gold"></i>
                                    <i class="fa fa-star gold"></i>
                                </div>
                                <hr/>
                                <%if @book_card.to_sell == "vente" %>
                                    <div class="product-price">€
                                        <%= @book_card.price %></div>
                                <% end %>
                                <%= button_to "Voir la fiche du livre", book_path(@book.id), method: :get, class: "btn btn-info"%>

                                <% if !current_user.nil? && @book_card.user_id != current_user.id && @book_card.to_sell == "vente" %>
                                    <%= button_to "Acheter avec la cagnotte", edit_user_money_pot_path(current_user.id), method: :get, class: "btn btn-danger"%>
                                <% end %>
                                <% if current_user.nil? && @book_card.to_sell == "vente" %>
                                    <%= button_to "connectez vous pour acheter", new_user_session_path, method: :get, class: "btn btn-danger"%>
                                <% end %>

                                <% if !current_user.nil? && @book_card.user_id != current_user.id && @book_card.to_sell == "achat" %>
                                    <%= button_to "contacter l'acheteur", new_user_private_message_path(current_user.id)+".#{@book_card.user_id}", method: :get, class: "btn btn-danger"%>
                                <% end %>
                                <% if current_user.nil? && @book_card.to_sell == "achat" %>
                                    <%= button_to "contacter l'acheteur", new_user_session_path, method: :get, class: "btn btn-danger"%>
                                <% end %>
                                nombre de vues:
                                <%= @book_card.hits %>
                                <hr/>
                                <% if !current_user.nil? && @book_card.user_id == current_user.id %>
                                    <div class="container">
                                        <%= button_to "Effacer", book_card_path(id: @book_card.id), method: :delete, class: "btn btn-danger"%>
                                        <%= button_to "Editer", edit_book_card_path(id: @book_card.id), method: :get, class: "btn btn-info"%>
                                    </div>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="col-md-12 product-info">
                                <ul class="nav nav-tabs">
                                    <%if @book_card.to_sell=="critique"%>
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#service-one">CRITIQUE</a>
                                        </li>
                                        <%else%>
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#service-one">DESCRIPTION</a>
                                        </li>
                                        <%end%>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#service-two">GENRE</a>
                                        </li>
                                        <%unless @book_card.book_condition.nil?%>
                                        <li class="nav-item">
                                            <a class="nav-link " data-toggle="tab" href="#service-three">ETAT DU LIVRE</a>
                                        </li>
                                        <%end%>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#service-four">AUTEUR DE L'ANNONCE</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#service-five">COMMENTAIRES</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane active" id="service-one">
                                            <section class="container pl-0 ml-5 pt-5">
                                                <% BookCard.find(@book_card.id).tags.each do |tag| %>
                                                    <p>
                                                        <%= tag.title %>
                                                    </p>
                                                    <%end%>

                                                    <p><%= @book_card.review %></p>
                                                </section>
                                            </div>
                                            <div class="tab-pane fade" id="service-two">
                                                <section class="container pl-0 ml-5 pt-5">
                                                    <% book = Book.find_by(id:@book_card.book_id) %>
                                                    <p><%= book.genre %></p>
                                                </section>
                                            </div>
                                            <%unless @book_card.book_condition.nil?%>
                                            <div class="tab-pane fade" id="service-three">
                                                <section class="container pl-0 ml-5 pt-5">
                                                    <p><%= @book_card.book_condition %></p>
                                                </section>
                                            </div>
                                            <%end%>
                                            <div class="tab-pane fade" id="service-four">
                                                <section class="container pl-0 ml-5 pt-5">
                                                    <p><%= @user.nickname %></p>
                                                    <% if !current_user.nil? %>
                                                        <% user=User.find_by_id(@book_card.user_id) %>
                                                        <% if current_user.followed_users?(user.id) %>
                                                            <%= button_to "Ne plus suivre", follow_relationship_path(:id => @book_card.user_id), :method => :delete, :class => "btn btn-info align-self-center mx-auto"%>
                                                        <% else %>
                                                            <%= button_to "Suivre", follow_relationships_path(:id => @book_card.user_id), :method => :post, :class => "btn btn-info align-self-center mx-auto"%>
                                                        <% end %>
                                                    <% else %>
                                                        <%= button_to "Suivre", follow_relationships_path(:id => @book_card.user_id), :method => :post, :class => "btn btn-info align-self-center mx-auto"%>
                                                    <% end %>
                                                </section>
                                            </div>
                                            <div class="tab-pane fade" id="service-five">
                                                <section class="container pl-0 ml-5 pt-5">
                                                    <%= render 'comments/index' %>
                                                    <%= button_to "Nouveau commentaire", new_book_card_comment_path(@comment.book_card_id, @comment.id), method: :get, class: "btn btn-danger"%>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
