<div class="container">
    <div class="text-center">
        <h1>Bienvenue sur votre  profil :</h1>
        <div class="card mx-auto align-content-center text-center">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= @user.nickname %></li>
                    <li class="list-group-item">
                        <a class="btn btn-sm btn-info" href=" <%= user_money_pot_path(current_user.id) %> " role="button">Voir ma cagnotte</a>
                    </li>
                    <li class="list-group-item">
                        <a class="btn btn-sm btn-info" href=" <%= edit_user_registration_path %> " role="button">Editer mon profil</a>
                    </li>
                </ul>

                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-sm btn-info">Mes annonces</button>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="<%=book_cards_path+"?&user=#{current_user.id}"%>">Toutes mes annonces</a>
                            <a class="dropdown-item" href="<%=book_cards_path+"?&type=vente&user=#{current_user.id}"%>">Mes annonces de ventes</a>
                            <a class="dropdown-item" href="<%=book_cards_path+"?&type=critique&user=#{current_user.id}"%>">Mes critiques de BD</a>
                            <a class="dropdown-item" href="<%=book_cards_path+"?&type=achat&user=#{current_user.id}"%>">Mes annonces de recherches</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        Vous suivez
        <%=User.find(current_user.id).followees.count%>
        utilisateurs :
        <br/>
        <% User.find(current_user.id).followees.each do |followee|%>
        <%=followee.nickname%>
        <%= button_to "Ne plus suivre", follow_relationship_path(:id => followee.id), :method => :delete, :class => "btn btn-sm btn-info align-self-center mx-auto"%>
        <br/>
        <%end%>
        Vous êtes suivi par
        <%=User.find(current_user.id).followers.count%>
        utilisateurs:
        <br/>
        <% User.find(current_user.id).followers.each do |follower|%>
        <%=follower.nickname%>
        <br/>
        <%end%>
    </div>
</div>
