<div style="margin-top: 5rem; text-align: center">
  <h1> Bienvenue sur la page profil !</h1>

    <div class="card mx-auto" style="width: 18rem; margin-top: 5rem;">
    <div class="card-body">

      
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @user.email %></li>
        <li class="list-group-item">
          <a class="btn btn-primary" href=" <%= edit_user_registration_path %> " role="button">Editer mon profil</a> </br>
        </li>
      </ul>
    </div>
  </div>
</div>
Vous suivez <%=User.find(current_user.id).followees.count%> utilisateurs
<br/>
<% User.find(current_user.id).followees.each do |followee|%>
    <%# <li class="list-group-item"><%=debug follow</li> %>
    <%=followee.email%>
    <%= button_to "Ne plus suivre", follow_relationship_path(:id => followee.id), :method => :delete, :class => "btn btn-info align-self-center mx-auto"%>
    <br/>
    <%end%>
Vous êtes suivi par <%=User.find(current_user.id).followers.count%> utilisateurs
<br/>
<% User.find(current_user.id).followers.each do |follower|%>
    <%# <li class="list-group-item"><%=debug follow</li> %>
    <%=follower.email%>
    <br/>
    <%end%> 
