<div class="container col-12 mx-auto">
    <div class="container text-center mt-4 mb-4">
        <%= button_to "Nouveau Message", new_user_private_message_path(current_user.id), method: :get , class: "btn btn-info align-self-center mx-auto" %>
    </div>

    <div class="row justify-content-center mx-auto">
        <div class="card private col-auto p-4 m-4">
            ENVOI
            <% @send_messages.each do|message| %>

            <div class="card message col-auto mx-auto p-4 m-4">
                <% @message=message %>
                <%= render 'header' %>
                <%= render 'message_button' %>
            </div>
            <%end%>
        </div>

        <div class="card private col-auto p-4 m-4">
            RÉCEPTION
            <% @received_messages.each do|message| %>
            <div class="card message col-auto mx-auto p-4 m-4">
                <% @message=message %>
                <%= render 'header' %>
                <%= render 'message_button' %>
            </div>
            <%end%>
        </div>
    </div>
</div>
