<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logos/logo-comics-trip-flat.png", height: '42px')%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="<%= root_path %>">Accueil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    BDs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="<%=book_cards_path%>">Toutes les BDs</a>
                    <a class="dropdown-item" href="<%=book_cards_path+"?&type=vente"%>">Les BDs en vente</a>
                    <a class="dropdown-item" href="<%=book_cards_path+"?&type=achat"%>">Les annonces de recherche</a>
                    <a class="dropdown-item" href="<%=book_cards_path+"?&type=critique"%>">Les critiques des lecteurs</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Créer une fiche
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="<%=new_book_card_path+"?&type=vente"%>">Poster une annonce de vente</a>
                    <a class="dropdown-item" href="<%=new_book_card_path+"?&type=achat"%>">Poster une annonce de recherche</a>
                    <a class="dropdown-item" href="<%=new_book_card_path+"?&type=critique"%>">Poster une critique de BD</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon compte / Déconnexion
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="<%= user_path(current_user.id) %>">Mon compte</a>
                        <a class="dropdown-item" href="<%= user_money_pot_path(current_user.id, current_user.money_pot.id) %>">Ma cagnotte</a>
                        <a class="dropdown-item" href="<%= user_private_messages_path(current_user.id) %>">Mes messages</a>
                        <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="DELETE">Déconnexion</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mes Annonces
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="<%=book_cards_path+"?&user=#{current_user.id}"%>">Toutes mes annonces</a>
                        <a class="dropdown-item" href="<%=book_cards_path+"?&type=vente&user=#{current_user.id}"%>">Mes annonces de ventes</a>
                        <a class="dropdown-item" href="<%=book_cards_path+"?&type=achat&user=#{current_user.id}"%>">Mes annonces de recherches</a>
                        <a class="dropdown-item" href="<%=book_cards_path+"?&type=critique&user=#{current_user.id}"%>">Mes critiques de BD</a>
                    </div>
                </li>
            <% else %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Inscription / Connexion
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="<%=new_user_registration_path%>">Inscription</a>
                        <a class="dropdown-item" href="<%=user_session_path%>">Connexion</a>
                    </div>
                </li>
            <% end %>
        </ul>
        <div class="nav-item">
            <%= form_tag(book_cards_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Rechercher" %>
                <%= button_tag(type: "submit", class: "btn btn-default") do %>

                    <i class="fa fa-search" aria-hidden="true"></i>
                <% end %>
            <% end %>
        </div>

    </div>
</nav>
