<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin:0px;">
    <a class="navbar-brand" href="<%= landing_pages_path %>"><%= image_tag("logos/logo-comics-trip-flat.png", height: '42px')%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="<%= root_path %>">Accueil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    BDs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="<%=book_cards_path+"?&type=vente"%>">Les BDs en vente</a>
                    <a class="dropdown-item" href="<%=book_cards_path+"?&type=critique"%>">Les critiques des lecteurs</a>
                    <a class="dropdown-item" href="<%=book_cards_path+"?&type=achat"%>">Les annonces de recherche</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Créer une fiche
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="<%=new_book_card_path+"?&type=vente"%>">Poster une annonce de vente</a>
                    <a class="dropdown-item" href="<%=new_book_card_path+"?&type=critique"%>">Poster une critique de BD</a>
                    <a class="dropdown-item" href="<%=new_book_card_path+"?&type=achat"%>">Poster une annonce de recherche</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
          <% if user_signed_in? %>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mon compte / Déconnexion
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="<%= private_messages_path %>">Mes messages</a>
                  <a class="dropdown-item" href="<%= user_path(current_user.id) %>">Mon compte</a>
                  <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="DELETE">Déconnexion</a>
              </div>
          <% else %>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Inscription / Connexion
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="<%=new_user_registration_path%>">Inscription</a>
                  <a class="dropdown-item" href="<%=user_session_path%>">Connexion</a>
              </div>
          <% end %>
        </li>
        <li class="nav-item pt-2 pr-0">
        <%= form_tag(book_cards_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Rechercher un livre" %>
          <%= submit_tag "Rechercher", :name => nil %>
        <% end %>
      </li>
      </ul>
    </div>
</nav>

